@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
	--clr-primary-200: #f6f8fa;
	--clr-primary-300: #bdc3cf;
	--clr-primary-400: #596476;
	--clr-primary-500: #9132da;
	--clr-primary-600: #5944c7;
	--clr-primary-800: #26262d;
	--clr-neutral-100: #fff;

	--ff-primary: "Montserrat", sans-serif;
	--ff-title: "Stick No Bills", sans-serif;
	--ff-secondary: "Poppins", sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
	font-family: var(--ff-secondary);
	background-color: var(--clr-primary-200);
}
/* login-design */
.mainbody {
	margin: 0;
	margin-top: 9%;
}
.login-background {
	background-color: var(--clr-neutral-100);
	width: 30%;
	margin: auto;
	padding: 2em;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.05);
}
.input-form {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-block: 0.5em;
}
.input-form label {
	font-weight: 500;
	color: var(--clr-primary-300);
	font-size: 14px;
	line-height: 1.5;
	padding-bottom: 5px;
}
.input-form input {
	text-align: center;
	background: #f6f8fa;
	border-radius: 10px;
	border: 0;
	width: 237px;
	margin: auto;
	color: var(--clr-primary-400);
}
.center {
	text-align: center;
}
.login-background button {
	background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
	border-radius: 50px;
	border: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */
	text-align: center;
	color: #ffffff;
	padding: 5px 15px;
	margin: 5px 0 20px 0;
}
.img-cont {
	max-width: 121.18px;
	margin: auto;
	padding-block: 1em;
}
.img-cont img {
	width: 100%;
}
/* dashboard */
.header-body-content {
	position: absolute;
	height: 100%;
	width: calc(100% - 78px);
	left: 78px;
	transition: all 0.5s ease;
	z-index: -1;
}
.side-bar.active ~ .header-body-content {
	width: calc(100% - 240px);
	left: 240px;
}
.header {
	margin: 0;
	box-sizing: border-box;
	padding-block: 0.5em;
	font-size: 16px;
	width: 100%;
	box-shadow: 0px 5px 0px rgba(227, 230, 235, 0.25);
	background-color: var(--clr-primary-200);
}
.nav-list {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}
.nav-list li {
	margin-bottom: 0;
}
.start-el {
	font-weight: 600;
	color: var(--clr-primary-400);
}
.end-el {
	margin-right: 2em;
	font-size: 25px;
	color: var(--clr-primary-400);
}
.side-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 78px;
	background-color: var(--clr-primary-200);
	padding: 6px 14px;
	box-shadow: 5px 0px 0px rgba(227, 230, 235, 0.25);
	transition: all 0.5s ease;
}
.side-bar.active {
	width: 240px;
	box-shadow: 5px 0px 0px rgba(227, 230, 235, 0.25);
}
.side-bar .logo-content .logo {
	color: var(--clr-neutral-100);
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	font-weight: 800;
	font-size: 20px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}
.side-bar.active .logo-content .logo {
	opacity: 1;
	pointer-events: none;
}
.side-bar #btn {
	position: absolute;
	color: var(--clr-primary-800);
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
.side-bar.active #btn {
	left: 90%;
}
.side-bar ul {
	margin-top: 20px;
	padding: 0;
}
.side-bar ul li {
	position: relative;
	height: 50px;
	width: 100%;
	margin: 0 5px;
	list-style: none;
	line-height: 50px;
}
/* .side-bar ul li .tooltip{
	position: absolute;
	left: 122px;
	top: 0;
	transform: translateY(-50%);
	border-radius: 6px;
	height: 35px;
	width: 122px;
	line-height: 35px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	transition: 0s;
}
.side-bar ul li:hover .tooltip{
	transition: all 0.5s ease;
	top: 50%;
} */
.side-bar ul li a {
	color: var(--clr-primary-400);
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	border-radius: 12px;
	white-space: nowrap;
}
.side-bar ul li a:hover {
	color: var(--clr-primary-600);
	background-color: var(--clr-primary-300);
}
.side-bar ul li a i {
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
.side-bar .links-name {
	opacity: 0;
	pointer-events: auto;
	transition: all 0.5s ease;
}
.side-bar.active .links-name {
	opacity: 1;
	pointer-events: auto;
}
.search-input {
	background: #ffffff;
	border-radius: 50px;
	font-weight: 400;
	font-size: 16px;
	border: 0;
	color: var(--clr-primary-800);
	padding-inline: 1em;
	outline: none;
}
.search-input:hover {
	border: 0;
	outline: none;
}
/* dashboard-body-content */
.dashboard-wrapper {
	padding-inline: 3em;
}
.dashboard-text {
	font-weight: 700;
	font-size: 24px;
	color: var(--clr-primary-400);
	padding: 1.5em 3em;
}
.info-section {
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.05);
	border-radius: 35px;
	background-color: var(--clr-neutral-100);
	padding: 2em 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	color: var(--clr-primary-300);
	font-size: 15px;
	font-weight: 600;
}
.info-section span {
	font-size: 2.5em;
	font-weight: 800;
	color: var(--clr-primary-400);
	padding-block: 0.5em;
}
.blend-bg {
	height: 13em;
	background: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
	border-radius: 35px;
	padding: 2em 1em;
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.05);
}
.bday-sec {
	border-radius: 35px;
	padding: 2em 2em;
	color: var(--clr-primary-300);
	font-size: 15px;
	font-weight: 600;
}
.bday-sec ul {
	padding: 0;
	margin-top: 5%;
}
.bday-sec ul li {
	text-decoration: none;
	list-style: none;
	line-height: 2em;
	color: var(--clr-primary-400);
}
.bday-sec {
	position: relative;
	background: url(../img/bday-bg.png);
	transform: matrix(1, 0, 0, 1, 0, 0);
}
/* add users */
.adduserbtn {
	text-align: end;
}
.adduserbtn button {
	background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
	border-radius: 50px;
	border: 0;
	color: var(--clr-neutral-100);
	font-weight: 600;
	font-size: 14px;
	padding: 0.5em 1em;
}
.adduserbtn button i {
	padding-right: 0.5em;
}
.tb-bg {
	border-radius: 35px;
	padding: 2em 3em;
	height: 65vh;
}
.tb-bg .theader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
	color: var(--clr-primary-300);
	font-weight: 600;
}
.tb-bg .theader p {
	background-color: var(--clr-neutral-100);
}
.tb-bg .theader i {
	color: #a27c98;
}
.tb-bg table {
	width: 100%;
	border: none;
}
.tb-bg table tbody td {
	padding: 10px;
	color: var(--clr-primary-400);
	font-weight: 600;
	font-size: 14px;
}
.tb-bg table tbody tr:hover {
	background-color: var(--clr-primary-300);
	border-radius: 16px;
	transform: scale(1.01);
}
.tb-bg table tbody tr {
	transition: all 0.3s ease;
}
.tb-bg table tbody td:last-child {
	color: var(--clr-primary-600);
	cursor: pointer;
}
.tb-bg table tbody .status i {
	color: rgb(76, 215, 76);
	font-size: 8px;
	padding-left: 10px;
}
.tb-bg table tbody .status {
	display: flex;
	align-items: center;
}
/* add usersc */
.add-user {
	margin-top: 3em;
	padding: 2.5em 3em;
	border-radius: 35px;
}
.add-user .theader p {
	background-color: var(--clr-neutral-100);
	font-size: 16px;
	font-weight: 600;
	color: var(--clr-primary-300);
}
.form-layout {
	font-size: 14px;
	font-weight: 600;
	color: var(--clr-primary-400);
}
.form-layout .form-inputs {
	display: flex;
	flex-direction: column;
	padding-block: 5px;
}
.form-layout .form-inputs input {
	background: #f6f8fa;
	border-radius: 5px;
	border: 0;
	color: var(--clr-primary-400);
	outline: none;
	padding-inline: 10px;
}
.form-layout .form-inputs input:hover {
	outline: 2px solid var(--clr-primary-600);
}
.btn2 {
	text-align: center;
	margin: 2em 0 0 0;
}
